<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kakebo | {% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/mini-default.css">
</head>
<body>
    <header>
        Kakebo Web - BZ VII
    </header>
    <section class="container">
        {% block contenido %}{% endblock %}
    </section>
    <footer>
        &copy; Todos los derechos reservados 2021 
    </footer>
</body>
</html>
