{% extends "base.html" %}

{% block titulo %}Modificar{% endblock %}
{% block contenido %}
<h1>Modificar Movimiento</h1>
    <form action="/modificar/{{id}}" method="post">
        <!--Esta etiqueta es para errores de formulario que no son directamente del formulario.
        En este caso su contenido es el token.-->
        {{ form.hidden_tag() }}
        <fieldset class="container">
            <div>
                {{ form.fecha.label(class="mylabel") }}
                {{ form.fecha(type="date") }}
                <!--Este for imprime los mensaje de error si no se rellena bien el formulario. -->
                {% for error in form.fecha.errors %}
                    <p class="msg-err">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
            <div >
                {{ form.concepto.label(class="mylabel") }}
                {{ form.concepto() }}
                {% for error in form.concepto.errors %}
                    <p class="msg-err">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
            <div >
                {{ form.categoria.label(class="mylabel") }}
                {{ form.categoria() }}
                {% for error in form.categoria.errors %}
                    <p class="msg-err">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
            <div >
                {{ form.cantidad.label(class="mylabel") }}
                {{ form.cantidad() }}
                {% for error in form.cantidad.errors %}
                    <p class="msg-err">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
            <div >
                {{ form.esGasto.label(class="mylabel") }}
                {{ form.esGasto() }}
            </div>
        </fieldset>
        {{ form.submit()}}
        {{ form.Nosubmit()}}
    </form>
{% endblock %}

