{% extends 'base.html' %}

{% block titulo%}Inicio{%  endblock %}

{% block contenido %}
    <h1>Listado de movimientos <a href="/nuevo">Crear movimiento</a> </h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Categoría</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Saldo</th>
        </tr>
        {% for movimiento in datos %}
        <tr>
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.concepto }}</td>
            <td>{{ movimiento.categoria }}</td>
            <td> {% if movimiento.esGasto == 0 %}
                    Ingreso
                    {% else %}
                    Gasto
                {% endif %}
            </td>
            <td>{{ movimiento.cantidad }} €</td>
            <td>{{ movimiento.saldo }} €</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
