{% extends 'base.html' %}

{% block titulo%}Inicio{%  endblock %}

{% block contenido %}
    <h1>Listado de movimientos <a href="/nuevo">Crear movimiento</a> </h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Categoría</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Saldo</th>
            <th></th>
        </tr>
        {% for movimiento in datos %}
        <tr>
            <td>{{ movimiento.fecha }}</td>
            <td>{{ movimiento.concepto }}</td>
            <td>{{ movimiento.categoria }}</td>
            <td> {% if movimiento.esGasto == 0 %}
                    Ingreso
                    {% else %}
                    Gasto
                {% endif %}
            </td>
            <td>{{ movimiento.cantidad }} €</td>
            <td>{{ movimiento.saldo }} €</td>
            <td class="btn">
                <a href="/borrar/{{movimiento.id}}">Borrar</a> | 
                <a href="/modificar/{{ movimiento.id }}">Modificar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <h3>Filtrar</h3>
        <form action="/" method="post">
            {{ filtrar.hidden_tag() }}
            <div>
                <fieldset class="container">
                    {{ filtrar.desde.label(class="mylabel") }}
                    {{ filtrar.desde(type="date") }}
                    <!--Este for imprime los mensaje de error si no se rellena bien el formulario. -->
                    {% for error in filtrar.desde.errors %}
                        <p class="msg-err">
                            {{ error }}
                        </p>
                    {% endfor %}

                    {{ filtrar.hasta.label(class="mylabel") }}
                    {{ filtrar.hasta(type="date") }}
                    <!--Este for imprime los mensaje de error si no se rellena bien el formulario. -->
                    {% for error in filtrar.hasta.errors %}
                        <p class="msg-err">
                            {{ error }}
                        </p>
                    {% endfor %}

                    {{ filtrar.texto.label(class="mylabel") }}
                    {{ filtrar.texto() }}
                    {% for error in filtrar.texto.errors %}
                        <p class="msg-err">
                            {{ error }}
                        </p>
                    {% endfor %}
                    
                    {{ filtrar.submit()}}
                    {{ filtrar.reset()}}
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
